{
  "Face": {
    "size": 30,
    "font": "RobotoLight"
  },
  "HistoryPlay": {
    "highest": 2000,
    "you": 1037
  }
}

{
  "Developer": {
    "AcceleratedFactor": 30,
    "SpriteHeight": "RobotoLight",
    "SpriteWidth": "RobotoLight",
    "Acceleration": "RobotoLight",
    "Acceleration": "RobotoLight",
    "Acceleration": "RobotoLight"
  }
}